.reviews-by-user-container-with-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-by-user-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.content-for-user-with-no-reviews{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.you-have-no-reviews-yet{
    font-weight: bold;
    font-size: 45px;
}
.start-reviewing{
    margin-top: 1%;;
    font-size: 40px;
}
.delete-review-button {
    border: none;
    width: 90px;
    height: 40px;
    color: white;
    background-color: #ff385c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    border-radius: 20px;
    overflow: hidden;
}

.edit-review-modal-button{
    border: none;
    width: 90px;
    height: 40px;
    color: white;
    background-color: #ff385c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    border-radius: 20px;
    overflow: hidden;
}
