.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%
}

.review-cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reviews-header {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.review-card-container {
    width: 400px;
    margin: 10px;
    /* border: 1px dotted black; */
}
.user-name{
    font-size: 16px;
}
.date-stars-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
