.reviews-by-user-container-with-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-by-user-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.delete-review-button {
    border: none;
    width: 90px;
    height: 40px;
    color: white;
    background-color: #ff385c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
