.create-review-header {
    display: flex;
    justify-content: center;
}
.create-reviews-errors-container{
    inline-size: 100%;
    overflow-wrap: break-word;
    padding: 5px;
    margin: 15px

}
.create-review-form{
    display: block;
    margin: 30px;
}
.create-review-input-with-label{
    display: flex;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.create-review-form-input {
    width: 100%;
}

.create-review-form-input-button-container{
    width: 100%;
}
.create-review-form-input-button {
    width: 100%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 5px;
}
