.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border-top: .5px solid lightgray;
    margin-top: 3%;
    margin-bottom: 5%;
}

.reviews-header {
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: light;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22px;
}

.review-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-card-container {
    width: 400px;
    /* border: 1px dotted black; */
}
.picture-name-date-stars-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
}
.name-date-stars-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.icon-container{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
}
.date-stars-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.profile-picture{
    width: 100%;
    height: 100%;
}
.user-name{
    font-size: 16px;
    font-weight: bold;
}
.creation-date{
    font-size: 12px;
    color: gray
}
