.index-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.card-container {
    margin: 15px;
    border: 1px dotted black;
    width: 25%;
    height: auto
}

.preview-image {
    width: 100%
}

.spot-details-image-container {
    display: flex;
    border: 1px dotted black;
    margin: 15px;
}
.spot-details-image {
    margin: 5px;
    width: 35%
}
