.create-spot-header {
    display: flex;
    justify-content: center;
}

.create-spot-form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0px;
    /* width: 100%; */
}

.create-spot-form-input-with-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: end;
    margin-bottom: 15px;
    width: 100%;
}

.create-spot-form-input {
    height: 50%;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
}

.create-button-container {
    box-sizing: border-box;
    width: 80%;
    display: flex;
}

.create-a-spot-form-button {
    width: 100%;
    height: 40px;
    margin: 15px;
    color: white;
    background-color: rgb(255, 56, 92);
    border: none;
    border-radius: 20px;
    overflow: hidden;
}
.create-a-spot-form-button:disabled{
    background-color: gray;
}
.create-a-spot-errors-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    justify-content: center;
}
