body {
    margin-top: .5%;
    margin-left: 10%;
    margin-right: 10%;
}
.index-container {
    margin-top: 2%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container {
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px dotted black; */
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.preview-image-container {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}
.preview-image {
    width: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.spot-info {
    margin-top: 5px
}
.spots-index-price-container{
    margin-top: 1.5%;
    font-size: 15px;
}
.spots-index-price {
    font-weight: bold;
}
.detail-card-location-and-avgRating {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
}
.detail-card-location {
    width: 75%;
    overflow: hidden
}
.star-avg-rating-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
}
.rounded-corners {
    border-radius: 15px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1639px) {
    .card-container {
        width: 18%;
    }
}
@media screen and (max-width:1449px) {
    .card-container {
        width: 20.5%;
    }
}
@media screen and (max-width:1200px) {
    .card-container {
        width: 23%;
    }
}
@media screen and (max-width:1150px) {
    .card-container {
        width: 30%;
    }
}
