.session-links{
    display: flex;
    justify-content: center;
}
.session-buttons{
    margin: 10px;
    width: 90px;
    height: 40px;
}
.spot-details-image-container {
    display: flex;
    border: 1px dotted black;
    /* margin: 15px; */
}
.spot-details-image {
    margin: 5px;
    width: 35%;
}
.spot-details-description-and-price{
    margin-top: 15px;
    display: flex;

}
.spot-details-description{
    width: 80%;
    font-size: 25px
}
.spot-details-price-container{
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 25px
}
.price{
    margin-right: 5px;
}
.avg-rating-and-location-container{
    display: flex;
    margin-bottom: 15px;
}
.star-rating-container{
    width: 30%;
}
.spot-details-location-container{
    width: 100%;
    display: flex;
    justify-content: end;
}
.delete-this-spot-button{
    background-color: #ff385c;
    color: white;
    border: none;
    width: 90px;
    height: 40px;
}
.edit-this-spot-button {
    width: 90px;
    height: 40px;
    background-color: #ff385c;
    display: flex;
}
.create-a-review-button {
    width: 90px;
    height: 40px;
    background-color: #ff385c;
    display: flex;
}
