body {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
.index-container {
    margin-top: 2%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container {
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px dotted black; */
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.preview-image-container {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}
.preview-image {
    width: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.spot-info {
    margin-top: 5px
}
.price {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
.detail-card-location-and-avgRating {
    display: flex;
}
.detail-card-location {
    width: 100%;
}
.star-avg-rating-container {
    display: flex;
    justify-content: end;
    width: 20%;
}
.rounded-corners {
    border-radius: 15px;
}
