.create-spot-header {
    margin: 25px;
}

.create-spot-form {
    margin: 25px;
}

.form-input {
    display: flex;
    margin: 10px;
}

.edit-spot-header {
    margin: 25px;
}

.edit-spot-form {
    margin: 25px;
}

.buttons {
    display: flex;
}
