/* body {
    margin-left: 20%;
    margin-right: 20%;
} */
.session-links{
    display: flex;
    justify-content: end;
    width: 90%;
}
.session-buttons{
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 40px;
}
.spot-details-images-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 10%;
    /* justify-content: space-between; */
    /* border: 1px dotted black; */
    /* margin: 15px; */
}

.spot-preview-image-container{
    width: 49.5%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.spot-preview-image{
    height: 100%;
    /* width: 100%; */
}
.quad-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 49.5%;
}
.spot-details-image-container{
    width: 49%;
    height: 48.7%
}
.spot-details-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.spot-details-home-and-price-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.spot-details-home{
    width: 80%;
    font-size: 1.8em
}
.spot-details-price-container{
    display: flex;
    /* justify-content: end; */
    width: 100%;
    font-size: 25px
}
.spot-details-bottom-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.spot-details-columns-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.spot-details-right-column-container{
    width: 45%;
}
.spot-details-left-column-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.spot-details-reviews-container{
    display: flex;
    justify-content: center;
}
.price {
    margin-right: 5px;
    font-weight: bold;
}
.avg-rating-and-location-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.star-rating-container{
    font-size: 14px;
    font-weight: bold;
}
.spot-details-location-container{
    /* width: 100%; */
    display: flex;
    justify-content: end;
}
.delete-this-spot-button{
    background-color: #ff385c;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.edit-this-spot-button {
    width: 120px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.create-a-review-button {
    width: 120px;
    height: 40px;
    background-color: #ff385c;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.spot-details-description-container{
    display: flex;
    justify-content: start;
    width: 100%;
}
.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-top: .5px solid lightgray;
    margin-top: 3%;
    margin-bottom: 3%;
}
.spot-details-description{
    margin-top: 3%;
    font-size: 1em;
    overflow-wrap: break-word
}
