/* TODO Add site wide styles */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
#modal-content{
    padding: 2% 3%
}
