/* TODO Add site wide styles */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
#modal-content{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-top: 2%
}
