.hidden {
    display: none
}

.navButtons {
    display: flex;
    height: 40%;
}

.home-button-container {
    /* display: flex; */
    margin-top: 10px;
    width: 5%;
}
.fa-house{
    height: 100%;
    width: 100%;
}

.login-signup-buttons {
    display: flex;
    justify-content: end;
    width: 100%;
    /* padding-left: 90%; */
}

.login-button {
    margin-top: 10px;
    margin-right: 5px;
}
.signup-button {
    margin-top: 10px;
    margin-left: 5px;
}

.logged-in-nav-buttons {
    display: flex;
    width: 100%;
    justify-content: end;
}
.create-a-spot-button {
    margin-top: 10px;
    margin-right: 5px;
}
.view-all-reviews-button {
    margin-top: 10px;
    margin-right: 5px;
}
.profile-button {
    margin-top: 10px;
    margin-right: 5px;
}
