.login-header {
    display: flex;
    justify-content: center;
}

.login-form {
    display: block;
    margin: 30px;
}

.login-input-with-label {
    margin: 15px;
    display: flex;
    height: 40px;
}
.login-input {
    width: 100%;
}
.demo-login-buttons {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.login-user-button {
    width: 100%;
    height: 40%;
    margin-bottom: 5px;
}
.demo-user-button {
    width: 100%;
    height: 40%;
    margin-top: 5px;
}
.login-errors-container {
    inline-size: 100%;
    overflow-wrap: break-word;
    padding: 5px;
    margin: 15px

}
