.login-header {
    display: flex;
    justify-content: center;
}

.login-form {
    display: block;
    margin: 30px;
}

.login-input-with-label {
    margin: 15px;
    display: flex;
    height: 40px;
}

.demo-login-buttons {
    display: flex;
    flex-direction: column;
    margin: 15px;
    /* width: 100%; */
}

.login-user-button {
    width: 100%;
    height: 40%;
    margin-bottom: 5px;
}
.demo-user-button {
    width: 100%;
    height: 40%;
    margin-top: 5px;
}
